{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/style.css' %}{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">
{% csrf_token %}    
    <div class="card card_form mt-5">
        <img src="{% static 'images/title2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Регистрация</h5>  
            <div class="form-control mb-3 mt-3">{{form.username}}</div>
            <div class="form-control mb-3 mt-3">{{form.email}}</div>
            <div class="form-control mb-3 mt-3">{{form.avatar}}</div>
            <h6>Придумайте пароль</h6>
            <div class="form-control mb-3 mt-3">{{form.password1}}</div>
            <h6>Подтвердите пароль</h6>
            <div class="form-control mb-3 mt-3">{{form.password2}}</div>
            <div class="form-control mb-3 mt-3">{{form.first_name}}</div>
            <div class="form-control mb-3 mt-3">{{form.info}}</div>
            <div class="form-control mb-3 mt-3">{{form.number}}</div>
            <div class="form-control mb-3 mt-3">{{form.sex}}</div>
            <button type="submit" class="btn btn-primary">Подтвердить</button>
        </div>
      </div>
</form>
{% endblock %}