{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body style="background-color:rgb(230, 229, 227) !important;">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="collapse navbar-collapse row justify-content-between">
            <div class="col-3 d-flex flex-row">
                <div class="col-2 text-center">
                    <a href="{% url 'feed' %}" class="link-dark">
                        <i class="bi bi-instagram dark fs-2"></i>
                    </a>
                </div>
                <div class="col-6"><img class="img-fluid" src="{% static 'images/title2.png' %}" alt="" width="180px"></div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-4">
                <form action="{% url 'search_results' %}" method="get">
                    <input name="q" class="input_box" type="text" placeholder="Поиск" style="width: 70%; border: 2px solid rgb(230, 229, 227);border-radius:5px">
                </form>
            </div>
                <div class="col-2 text-center">
                    <a href="{% url 'accounts:log_out' %}" class="btn btn-danger">Выход</a>
                    <a href="{% url 'accounts:new_post' user.pk %}" class="btn btn-success">Публикация</a>
                    <a href="{% url 'accounts:profile' user.pk %}" class="link-dark">
                        <i class="bi bi-person dark fs-1"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div class="background"></div>
        {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
        <script type="text/javascript">
            $(document).on('click', '#like', function(e){
                const artId = $(this).val()
                const btn = this
                e.preventDefault();
                $.ajax({
                    headers: {"X-CSRFToken": '{{csrf_token}}'},
                    type: 'POST',
                    url: `{% url 'post_likes' %}`,
                    data: {
                        postid: $(this).val(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post'
                    },
                    success: function(json) {
                        let c = `"${artId}"`
                        btn.innerHTML = json['icon']
                        let counter = document.querySelector(`[data-artId=${c}]`)
                        counter.innerHTML = json['count']
                    },
                    error: function(xhr, errmsg, err){
                    }
                })
            })
        </script>
    {% endif %}   
</body>
</html>