{% extends 'base.html' %}
{% load static %}
{% block style %}{% static 'css/style.css' %}{% endblock %}
{% block content %}
<div class="user_feed">
    {% include 'partial/posts_form.html' %}
    <h6 id="write_comment">Написать комментарий</h6>
      <form method="post">
          {% csrf_token %}
          <div class="row">
              <div class="col-10">
                  {{form.text}}
              </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3 mb-3">Комментировать</button>
      </form>
      {% for comment in post.p_comment.all %}
        <div class="task_box">
            <span class="fs-4 fw-medium">
                <a href="{% url 'accounts:profile' comment.get_author.pk %}" class="text-dark" style="text-decoration: none;">{{comment.get_author}}</a>
            </span>
            <p>{{comment.text}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}